<!-- <ion-header >
  <ion-toolbar >
    <ion-title appBackgrounder>
      The Half Diet
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content padding>
  <ion-grid fixed>
    <!-- <ion-row>
      <ion-col size="12">
        <img src="./assets/icon/icon.svg" alt="">
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12">
        <h2 text-center>
          Behold
        </h2>
        <h3 text-center>
          Another diet to pay attention to!
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>
          What's the deal?
        </p>
        <ol>
          <li>
            <p>
              Sit down infront of your meal.
            </p>
          </li>
          <li>
            <p>
              Split the meal into two parts.
            </p>
          </li>
          <li>
            <p>
              Eat <strong>only</strong> one of the two halfs
            </p>
          </li>
        </ol>
        <p>
          That's it! Stick to the ultimate weight loss diet.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-svg-backgrounder></app-svg-backgrounder>
